html{
    box-sizing: border-box;
}
body{
    margin:0;
    min-height: 100vh;
    background: linear-gradient(to right, #434343, #000000);
    display:flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: whitesmoke;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0,5px, 30px, -5px rgba(0,0,0,0.6);
}
.calculator-display{
    background-color: black;
    color:white;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px 10px 0 0;
}
.calculator-display h1{
    font-family: 'Lucida Sans', sans-serif;
    margin:0;
    padding:25px;
    font-size: 45px;
    font-weight: 100;
    overflow-x: auto;
}
::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    background:grey;
  }
::-webkit-scrollbar-thumb {
    background: rgb(51, 51, 51);
  }
::-webkit-scrollbar-thumb:hover {
    background: rgb(29, 29, 29);
  }
.calculator-buttons{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    padding:10px;
}
button{
    min-height: 50px;
    font-size: 20px;
    font-weight: 100;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(160, 158, 158);
}
.operator{
    background-color: rgb(83, 83, 83);
    color:white;
    font-size: 35px;
}
.clear{
    background-color: rgb(224, 28, 28);
    color:white;
}
button:hover{
    filter:brightness(110%);
}
.clear:hover{
    filter: brightness(90%);
}
button:active{
    transform: translateY(2px);
}
button:focus{
    outline: none;
}
.equal-sign{
    grid-column: -2;
    grid-row: 2/span 4;
    background: rgb(100, 231, 100);
}
@media screen and (max-width:600px){
    .calculator{
        width:90%;
    }
}